* {
  margin: unset;
}
#root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100dvh;
}

main {
  background-color: lightblue;
}

nav {
  display: flex;
  gap: 1em;
}

.kommune-overlay {
  translate: -50% -50%;
  background-color: white;
}
